$background: #2C2930;
$whiteColor: #ffffff;
$blackColor: #000000;

$regular: 1rem;
$large: 2.25rem;

/* Button style */
$buttonForeground: #F48403;
$buttonBackground: #C4C4C4;
$buttonGradient: linear-gradient(180deg, rgba(196, 196, 196, 0.2), rgba(196, 196, 196, 0.09), rgba(196, 196, 196, 0));
$buttonPadding: 0.5rem;
