@import '../../styles/vars';


.formItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.label {
  font-size: 1rem;
  font-weight: 400;
  color: $primaryTextColor;
  padding-bottom: 0.5rem;
}

.error{

}

.suggestions {
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
}

.suggestion {
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color: #f0f0f0;
  }
}
