@import '../../styles/vars';

.header {
  width: 100%;
  height: 95px;
  background-color: $secondaryBackgroundColor;
  @include flex(row, space-between, center);
}

.title {
  color: $whiteColor; 
  font-size: $large;
  font-weight: $bold;
  @include flex(row, flex-start, center);
}
